*:not(.menubtn){
  padding: 0;
  margin:0;
  cursor: url("cursor.svg"), auto;

}
body{
  background:url(heheheheh.jpeg);
  background-size: cover;
  background-position: center;
  
 }
body.active{
 background:  linear-gradient(
  rgba(0, 0, 0, 0.7), 
  rgba(0, 0, 0, 0.7)
), url(heheheheh.jpeg);
 background-size: cover;
 background-position: center;
background-blend-mode: darken;
}
#container {
  position: relative;
 
  
}
#container canvas, #overlay {
  position: absolute;
  background-color: #EBC676;
  width: 1026px;
  height: 576px;
 
}
canvas {
  border: 1px solid black;
}
canvas{
  width: 1026px;
  height: 576px;
background-image: url(heheheheh.jpeg);
background-size: cover;
background-repeat: no-repeat;
}
.menubtn{
  background-color: white;
  color:white;;
  border-color: white;
  border-radius: 8px;
  font-size: 24px;
  padding:  2.5px;
  width: 130px;
  height: 40px;
  font-family: 'black_roseregular';
  align-items: center;
  justify-content: center;

  background-image: url(oyc\ \(3\).png);
}
.menubtn:hover{
  background-color:#598cbf;
  color: #EBC676;
}
.myswitch {
  font-size: 8px;
  position: relative;
  display: inline-block;
  width: 5.5em;
  height: 3em;
}
.myswitch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.myslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#336AA2;
  transition: .4s;
  border-radius: 30px;  
  display: flex;

}
.myslider:before {
  
  position: absolute;
  content: "";
  height: 2.4em;
  width: 2.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color:white;
  transition: .4s;
  animation: anima1 0.3s linear;
  background-image: url(frnow-removebg-preview.png);
  background-size:contain;
}
@keyframes anima1 {
  0% {
    transform: translateX(2.9em);
  }

  80% {
    transform: translateX(-0.3em);
  }

  100% {
    transform: translateX(0em);
  }
}
.myswitch input:checked + .myslider:before  {
  background-color:white;
  box-shadow: none;
  transform: translateX(100%);
  animation: anim2 0.3s linear;
  background-image: url(note-removebg-preview.png);
  background-size: contain;
}
@keyframes anim2 {
  0% {
    transform: translateX(0em)
  }

  80% {
    transform: translateX(2em)
  }

  100% {
    transform: translateX(2.7em)
  }
}

#menudivs{
  margin-right:0 ;
  margin-bottom: 0;
  margin-top: 5%;
  margin-left: 0;
  width: 400px;
  height:400px;
  background-image: url(bggg.png);
  background-size:cover;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  opacity: 0;
}
#menudivs.active{
  margin-right:0 ;
  margin-bottom: 0;
  margin-top: 5%;
  margin-left: 450px ;
  width:400px;
  height:400px;
  background-image: url(bggg.png);
  background-size:cover;
  background-repeat: no-repeat;
  display: block;
  align-items: center;
  background-position: center;
  opacity: 100%;
}
.babymenu3{
  margin-bottom: 7px;
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 30%;
  padding-left: 70%;
  padding-top: 12%;
  margin: 0;
  font-family: 'black_roseregular';
}
.babymenu1{
  font-size: 24px;
  color: #336AA2;
  display: flex;
    width: 53%;
  padding-left: 47%;
  font-family: 'black_roseregular';
  padding-top: 0;
  margin: 0;

}
.babymenu{
  font-size: 24px;
  color: #336AA2;
  display: flex;
  align-items: center;

  width: 50%;
  padding-left: 50%;
  padding-top: 13%;
  font-family: 'black_roseregular';
  align-items: center;
  
}
.span1{
  padding-right: 18px;
  padding-top: 14px;

}
.babymenu2{
  font-size: 24px;
  color: #336AA2;
  display: block;
  font-family: 'black_roseregular';
  width: 54%;
  align-items: center;
  justify-content: center;
  padding-left: 46%;
  margin: 0;

}

.escbutton {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background-color:  #336AA2;
 color:whitesmoke;
 background-image: url(oyc\ \(4\).png);
 background-size: cover;
 font-family: 'black_roseregular';
 box-shadow:  rgba(210, 203, 203, 0.678) 2px 2px;

}
.escbutton:hover{
  background-color:#598cbf;
  color: #EBC676;
}
@font-face {
  font-family: 'black_roseregular';
  src: url('blackrose-2onld1-webfont.woff2') format('woff2'),
       url('blackrose-2onld1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#settingbutton{

  width: 0;
  height:0;
  opacity: 0;
}
#checkmenu{
  width: 5em;
  height: 5em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius:50px;
  position: absolute;
  display: flex;
  background-image: url(settings.png);
  background-size: cover;

}
#checkmenu.active{
  width: 5em;
  height: 5em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius:50px;
  position: absolute;
  display: flex;
  background-image: url(settings.png);
  background-size: cover;
  opacity: 0;

}